:root {
    /* Colors */
    --white: #fff;
    --salmon: #ff7676;
    --orange: #ff5454;
    --bluish-grey: #789199;
    --warm-grey: #8e8e8e;
    --grey: #76797f;
    --gunmetal: #555d60;
    --dark-grey: #2e2f31;
    --black: #000;
}
